@import url(reset.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* 탈부착 클래스 */
.hide {
    display: none;
}

/* 로그인창 구현 */
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

body {
    background-color: #F2F2F2;
}

.login-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.container .logo-img {
    width: 138px;
    height: 40px;
    margin: 30px 0 36px;
}

.login-btu {
    width: 440px;
    margin: 32px 0 30px;
    padding: 17px 0 15px;
    color: white;
    font-size: 22px;   
    line-height: 28px;
    background: #2F80ED;
    border: none;
    border-radius: 5px;  
    cursor: pointer;
}

.login-btu:hover {
    background-color: #206bce;
}

/* 모달창 구현 */
.modal-container {
    background-color: white;
    width: 520px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;

}

.modal-container .modal-title {
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 0 17px;
    border-bottom: 1px solid #c4c4c4;
}

.modal-close-img {
    width: 16px;
    height: 16px;
    float: right;
    margin-right: 24px;
}

.modal-sub-title {
    text-align: initial;
    padding: 26px 0 24px 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

input[class^="modal-input"] {
    display: block;
    margin-left: 24px;
    width: 472px;
    height: 50px;
    border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 5px;
    
}

.modal-input-id {
    margin-bottom: 10px;
}

.modal-input-pw {
}

.modal-check-box-img {
    width: 22px;
    height: 22px;
    float: left;
    padding-right: 8px;
}
/* 로그인 상태 유지 글씨 눌러도 체크 되게 만들기 */

.modal-login-status {
    text-align: initial;
    padding: 17px 0 21px 28px;
    color: #767676;
    line-height: 20px;
}

.modal-login-btu {
    width: 472px;
    padding: 14px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: white;
    cursor: pointer;
    background: #2F80ED;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.modal-login-btu:hover {
    background-color: #206bce;
}

.modal-nav {
    font-size: 14px;
    color: #767676;
    line-height: 18px;
}